body{
    background-color: rgb(3, 3, 42);
}
.box1{
    width: 100%;
    background-color: rgb(3, 3, 42);
}
.box2{
    width: 100%;
    height: 50vh;
    border: 5px solid rgb(12, 12, 182);
    
    
}
.lightMode{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(3, 3, 42);
}
.logo{
    color: white;
    font-size: 2.2rem;
}
.lightMode1{
    padding-top: 12px;
    display: flex;
    gap: 20px;
}
.logo1{
    font-size: 1.4rem;
    color: white;
}
.fa-sun{
   color: white;
   font-size: 20px;
   cursor: pointer;
}
.search{
    border-radius: 20px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(47, 37, 76);
}
.space{
    width: 100%;
    height: 50px;
    background-color: rgb(3, 3, 42);
}
.search1{
    display: flex;
    gap: 20px;
}
.input{
    width: 400px;
    border: none;
    background-color: rgb(47, 37, 76);
    font-size: 1rem;
    color: white;
}
button{
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    width: 70px;
    height: 40px;
    background-color: rgb(94, 147, 255);
}
.fa-magnifying-glass{
    font-size: 32px;
    color: blue;
}
.show{
   background-color: white;
}
.show1{
    color: rgb(46, 45, 45);
}

.show2{
    display: block;
}

/* div{
    border: 10px;
} */

.fa-magnifying-glass{
    font-size: 32px;
    color: blue;
}
body{
    background-color: rgb(3, 3, 42);
    color: #fff;
}
.container{
    font-family: 'Explora', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
    width: 100%;
    max-width: 900px;
    /* background-color: rgb(47, 37, 76); */
    margin: 0 auto;
    /* border: 5px solid rgb(0, 255, 34);  */
     margin-top: 100px;
 }
 .space{
    width: 100%;
    height: 50px;
    background-color: rgb(3, 3, 42);
}
.user-form{
    /* margin-top: 40px;
    margin-bottom: 40px; */
    /* max-width: 700px; */
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: start; */
    background-color: rgb(47, 37, 76);
    height: 70px;
    padding: 0 20px 0 20px;
    border-radius: 20px;
}
button{
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    width: 70px;
    height: 40px;
    background-color: blue;
    color: white;
    margin-left: 400px;
}
.search_div{
    background-color: rgb(47, 37, 76);
    border-radius: 20px;
}
.user-form input{
    /* width: 50%;
    display: block;
    background-color: #4c2885;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0,0,0,0.1); */
    width: 400px;
    border: none;
    background-color: rgb(47, 37, 76);
    font-size: 1rem;
    color: white;
    width: 400px;
    border: none;
    font-size: 1rem;
    color: white;
    /* border-radius: 20px; */
}

.user-form input::placeholder{
    color: #bbb;
    border-radius: 20px;
}

.user-form input:focus{
    outline: none;
}

.card {
    margin-top: 50px;
    width: 100%;
    background-color: rgb(47, 37, 76);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0,0,0,0.1);
    display: flex;
    padding: 4rem;
    
}

.avatar{
    border-radius: 50%;
    /* border: 10px solid #2a2a72; */
    height: 150px;
    width: 150px;
}
.user_name{
    font-size: 2rem;
}
.user_bio{
    font-size: 1.5rem;
}
.name_bio{
    line-height: 70px;
    
}
.user-info {
    width: 100%;
    color: #eee;
    margin-left: 50px;
}

.user-info h2{
    margin-top: 0;
}

.user-info ul{
    margin-top: 30px;
    width: 100%;
    background-color: #080c2a;
    border-radius: 14px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 90px;
    padding: 20px;
}

.user-info ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
}

.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
    color: #807c7c;
}

.repo{
    text-decoration: none;
    color: #fff;
    background-color: #212a72;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

@media (max-width: 500px){
    .card{
        flex-direction: column;
        align-items: center;
    }
    .user-form{
        max-width: 400px;
    }
}
.show{
    background-color: white;
 }
 .show1{
     color: rgb(46, 45, 45);
 }

 .show2{
     display: none;
 }
 .dark{
    font-size: 1.4rem;
    color: black;
    display: none;
 }
 .dark1{
    display: block;
 }