body{
    background-color: rgb(3, 3, 42);
}
.lightMode{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(3, 3, 42);
}
.logo{
    color: white;
    font-size: 2.2rem;
}
.lightMode1{
    padding-top: 12px;
    display: flex;
    gap: 20px;
}
.logo1{
    font-size: 1.4rem;
    color: white;
}
.fa-sun{
   color: white;
   font-size: 20px;
   cursor: pointer;
}
.search{
    border-radius: 20px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(47, 37, 76);
}
.fa-magnifying-glass{
    font-size: 32px;
    color: blue;
}
.container{
    font-family: 'Explora', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
     margin-top: 70px;
 }
 .space{
    width: 100%;
    height: 50px;
    background-color: rgb(3, 3, 42);
}
.user-form{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(47, 37, 76);
    height: 70px;
    padding: 0 20px 0 20px;
    border-radius: 20px;
    justify-content: space-between;
}
button{
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    width: 70px;
    height: 40px;
    background-color: blue;
    color: white;
    margin-left: 400px;
}
.search_div{
    background-color: rgb(47, 37, 76);
    border-radius: 20px;
}
.input{
    width: 400px;
    border: none;
    background-color: rgb(47, 37, 76);
    font-size: 1rem;
    color: white;
    width: 400px;
    font-size: 1rem;
    color: white;
}

.user-form input::placeholder{
    color: #bbb;
    border-radius: 20px;
}
.user-form input:focus{
    outline: none;
}
.card {
    margin-top: 50px;
    width: 100%;
    background-color: rgb(47, 37, 76);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0,0,0,0.1);
    display: flex;
    padding: 4rem;
    
}
.informations{
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}
p{
    color: #807c7c;
}
.info1{
    display: flex;
    gap: 10px;
}
.avatar{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.user_name{
    font-size: 1.5rem;
}
.user_bio{
    font-size: 1rem;
}
.user_main{
    line-height: 40px;
    
}
.fa-brands{
    font-size: 1.3rem;   
}
.informations .fa-solid{
    font-size: 1.3rem;
}
.user-info {
    width: 100%;
    color: #eee;
    margin-left: 50px;
}

.user-info h2{
    margin-top: 0;
}

.user-info ul{
    margin-top: 30px;
    width: 100%;
    background-color: #080c2a;
    border-radius: 14px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 90px;
    padding: 20px;
}

.user-info ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
}

.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
    color: #807c7c;
}

.repo{
    text-decoration: none;
    color: #fff;
    background-color: #212a72;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.show{
    background-color: white;
 }
 .show1{
     color: rgb(46, 45, 45);
 }

 .show2{
     display: none;
 }
 .dark{
    font-size: 1.4rem;
    color: black;
    display: none;
 }
 .dark1{
    display: block;
 }

 .search_div{
    display: flex;
    align-items: center;
}
button{
    margin-left: 0px;
}
.gray{
    background-color: #9c9898;
}

 @media (max-width:1018px){
    .user-form{
        margin: 0 auto;
        max-width: 700px;
    }
    
    .user-info input{
        width: 300px;
        margin-right: 200px;
    }
    .lightMode{
        margin: 0 auto;
        width: 700px;
    }
    .card{
        margin: 50px auto;
        width: 700px;
        padding-left: 20px;
    }
 }
 @media (max-width:800px){
    .user-form{
        margin: 0 auto;
        max-width: 500px;
        height: 60px;
    }
    .lightMode{
        margin: 0 auto;
        width: 500px;
        height: 60px;
    }
    .card{
        margin: 50px auto;
        width: 500px;
        flex-direction: column;
        align-items: center;
    }
    .avatar_div{
        margin-left: 50px;
    }
    .logo1{
        font-size: 1rem;
    }
    .dark{
        font-size: 1rem;
    }
    .fa-sun{
        font-size: 1rem;
    }
    .user-info ul{
        margin-right: 200px;
    }
    #search{
        width: 200px; 
    }
    #logo{
        font-size: 1.7rem;
    }
    .user_main{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 30px;
        justify-content: center;
    }
 }
 @media (max-width: 574px){
    .user-form{
        margin: 0 auto;
        max-width: 400px;
        height: 40px;
        padding: 0 12px 0 12px;
    }
    .lightMode{
        margin: 0 auto;
        width: 400px;
        height: 40px;
    }
    .card{
        margin: 20px auto;
        width: 400px;
        padding: 40px 40px 40px 0px;
    }
    .user-form input::placeholder{
        font-size: 0.7rem;
    }
    .fa-magnifying-glass{
        font-size: 1.3rem;
    }
    button{
        width: 50px;
        height: 30px;
        font-size: 10px;
    }
    .user-info ul{
       gap: 30px;
    }
    .user-info  ul li{
        font-size: 1rem;
    }
    .user-info ul li strong{
        font-size: 1rem;
    }
    .informations{
        margin-top: 16px;
        gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .fa-solid{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
    }
 }
 @media (max-width: 478px) {
    .user-form{
        margin: 0 auto;
        max-width: 300px;
    }
    .lightMode{
        margin: 0 auto;
        width: 300px;
    }
    .card{
        margin: 20px auto;
        width: 300px;
    }
    .user-info  ul li{
        font-size: 0.7rem;
    }
    .user-info ul li strong{
        font-size: 0.7rem;
    }
 }